@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    gap: 7%;
  }

  .nav-bar {
    display: block;
    width: 23%;

  }

  .nav-bar ul {
    list-style-type: none;
    position: sticky;
    top: 0;
  }

  .nav-bar ul li a:hover {
    color: var(--orange);
  }

  .nav-bar ul li {
    font-size: 0.8em;
    margin-bottom: 8px;
  }

  .nav-bar__brand a {
    font-size: 1em;
  }

  .nav-bar__link__inner {
    text-indent: 0.5cm;
  }

  .nav-bar__link__inner a {
    font-size: 0.8em;
  }

  .nav-bar ul li a {
    text-decoration: none;
  }

  .content {
    width: 68%;
  }

  .active {
    border-right: 5px solid var(--orange);
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    gap: 5%;
  }

  .nav-bar ul li {
    font-size: 0.9em;
  }

  .nav-bar__brand a {
    font-size: 1.1em;
  }

  .nav-bar__link__inner a {
    font-size: 0.9em;
  }

  .nav-bar {
    width: 20%;
  }

  .content {
    width: 75%;
  }
}