@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
  --primary: #1B191A;
  --secondary: #f7f7ff;
  --orange: #EAB049;
  --font-primary: 'Quicksand', sans-serif;
  --font-code: 'Courier Prime', monospace;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 32px;
  flex: 1;
}

.nav-bar {
  display: none;
}

.content__header {
  font-weight: 600;
  font-size: 1.75em;
  margin-bottom: 32px;
}

.base-url-wrapper h3 {
  font-size: 1.5em;
  margin-bottom: 8px;
  font-weight: 600;
}

.base-url-wrapper__link {
  margin-bottom: 32px;
}

.base-url-wrapper__link a {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--orange);
}

.endpoints h3 {
  font-size: 1.5em;
  margin-bottom: 32px;
  font-weight: 600;
}

.endpoint h5 {
  font-size: 1.2em;
  margin-bottom: 18px;
  font-weight: 600;
}

.endpoint__desc {
  font-size: 1em;
  border-left: 5px solid var(--orange);
  padding: 4px 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 18px;
}

.endpoint__detail {
  margin-left: 36px;
}

.endpoint__detail li {
  margin-bottom: 8px;
  font-size: 0.8em;
}

.endpoint__detail span {
  background-color: var(--secondary);
  color: var(--orange);
  padding: 2px 4px;
  font-weight: 500;
  font-family: var(--font-code);
}

.endpoint__response {
  overflow: scroll;
  font-size: 0.75em;
  background-color: var(--secondary);
  padding: 8px;
  margin-bottom: 32px;
}

.endpoint__response__second-indent {
  text-indent: 0.5cm;
}

.endpoint__response__third-indent {
  text-indent: 1cm;
}

.endpoint__response__fourth-indent {
  text-indent: 1.5cm;
  white-space: nowrap;
}

.endpoint__response p {
  font-family: var(--font-code);

}

footer {
  background-color: var(--primary);
  padding: 16px;
}

footer p {
  color: var(--white);
  font-weight: 600;
  text-align: center;
  font-size: 0.9em;
}